.footer {
    padding: 40px 0;
    margin-top: 40px;
    justify-content: space-between;
    font-family: $title;

    p {
        color: $main;
        font-size: 25px;
        font-weight: bold;
    }
}
@media (max-width: 500px) {
    .footer {
        justify-content: center;
    }
}