.nav {
    justify-content: space-between;
    align-items: center;
    font-family: $title;
    margin: 20px 0;

    &__logo {
        color: $accent;
        font-size: 50px;
        font-weight: bold;
        text-decoration: none;

        span {
            font-size: 55px;
        }
    }
    i {
        cursor: pointer;
        position: relative;
        z-index: 6;
        display: none;
        font-size: 48px;
    }
    &__item {
        font-size: 25px;
        margin-left: 5px;
        font-weight: bold;
        color:$main;
        text-decoration: none;

        &:hover {
            color: $secondary;
        }

        &.active {
            color: $accent;
            font-size: 30px;
            border-bottom: 5px solid $accent;

        }
    }
}


@media (max-width: 1200px) {
    .nav {
        i {
            display: block;
        }
        &__list {
            transition: transform .5s ease-in-out;
            transform: translateX(200%);
            position: fixed;
            top: 0;
            right: 0;
            z-index: 5;
            width: 100%;
            height: 100vh;
            background-color: $background;

            &--show {
                transform: translateX(0%);
            }
        }

        &__item {
            display: block;
            text-align: center;
            margin-top: 30px;
            font-size: 32px;

            &:first-child {
                margin-top: 100px;
            }
        }
    }

}