.pagination {
    display: flex;
    justify-content: center;

    a {
        color: $secondary;
        font-size: 40px;
        text-decoration: none;
        margin: 0 10px;

        &.active-page {
            color: $accent;
        }
    }
}