.picture {
    width: 45%;
    margin-bottom: 40px;

    img {
        width: 100%;
    }
}
.model {
    width: 100%;
    height: 588px;
    margin-bottom: 49px;
}
.detail-content__pics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.detail-titlepic__pink {
    display: flex;
    justify-content: space-between;
}

.detail-titlepic {
    margin-bottom: 40px;
}
@media (max-width: 500px) {
    .detail-content__pics {
        flex-direction: column;
        .picture {
            width: 100%;
        }
    }
}